.table-row-item {
  cursor: auto;
  width: 100%;
  table-layout: fixed;
}

.table-row-item:nth-child(odd) {
  background-color: #000000;
}

.table-row-item:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.table-row-item:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.table-cell {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.table {
  width: 100%;
  margin: 0 10px;
  table-layout: fixed;
}
