.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.popup label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.popup label span {
  width: 100px;
}

.popup label input {
  margin-left: 20px;
  flex-grow: 1;
}